<div class="announce">
   <h3>Announcements</h3>
                  <h4>Nativity Play</h4>
         <p class="date">12/11/11</p>
         <div class=content>
            <p>presented by the Sunday School classes
Sunday, 12/18, immediately after Divine Liturgy</p>

         </div>
               <h4>Services for the Feast of the Nativity:</h4>
         <p class="date">12/31/11</p>
         <div class=content>
            <p>Friday, 12/23<br>
9:00 AM 1st and 3rd Royal Hours<br>
12:00 PM 6th and 9th Royal Hours<br>
Saturday, 12/24<br>
5:00 PM Vespers of the Nativity of Christ<br>
The Choir's Christmas Lessons and Carols<br>
Sunday, 12/25<br>
9:30 AM Divine Liturgy<br>
11:30 AM Festal Potluck</p>
         </div>
</div>
