<div class="contact mobile-hide">
        <h3>Contact Us</h3>

        <h4>Church</h4>

        <p>4451 Wagner Rd, Dayton, OH 45440<br>
        Phone: 937-320-9977<br>
        Fax: 937-320-9986<br>
        Office assistant: <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6f;&#x66;&#x66;&#x69;&#99;&#101;&#64;&#115;&#116;&#112;&#100;&#97;&#121;&#116;&#111;n.&#x6f;&#x72;&#x67;">&#x6f;&#x66;&#x66;&#x69;&#99;&#101;&#64;&#115;&#116;&#112;&#100;&#97;&#121;&#116;&#111;n.&#x6f;&#x72;&#x67;</a></p>

        <h4>Clergy</h4>

        <p><img src="./content/contact//image1.jpg" alt="Father Ted"><br>
        <strong>VRev. Theodore Bobosh, Rector</strong>:</p>

        <p>937-297-3060<br>
        937-320-9977<br>
        <a href="&#109;&#x61;&#105;&#108;&#x74;&#111;&#x3a;F&#114;&#x54;&#101;&#x64;&#x40;&#115;&#x74;p&#100;&#x61;&#121;&#x74;&#x6f;&#110;&#x2e;&#111;&#114;&#x67;">F&#114;&#x54;&#101;&#x64;&#x40;&#115;&#x74;p&#100;&#x61;&#121;&#x74;&#x6f;&#110;&#x2e;&#111;&#114;&#x67;</a></p>

        <p><img src="./content/contact//image2.jpg" alt="Deacon Steve"><br>
        <strong>Rev Dn. Stephan Gresh, Deacon</strong>:</p>

        <p>937-465-0519<br>
        <a href="&#109;&#x61;&#x69;&#108;&#x74;&#x6f;&#58;&#x64;&#x65;&#97;&#99;&#x6f;&#110;&#115;&#x74;&#101;&#118;&#x65;g&#64;&#x65;a&#114;&#x74;&#x68;&#108;&#x69;&#x6e;&#107;&#x2e;&#x6e;&#101;&#x74;">&#x64;&#x65;&#97;&#99;&#x6f;&#110;&#115;&#x74;&#101;&#118;&#x65;g&#64;&#x65;a&#114;&#x74;&#x68;&#108;&#x69;&#x6e;&#107;&#x2e;&#x6e;&#101;&#x74;</a></p>

</div>

