<ul class="navigation">
      <li
       class="current"
      
>
      <a href="./?/index/">Home</a>
   </li>
      <li
      
>
      <a href="./?/bulletin/">Bulletin</a>
   </li>
      <li
      
>
      <a href="./?/orthodoxy/">About Orthodoxy</a>
   </li>
      <li
      
>
      <a href="./?/pictures/">Pictures</a>
   </li>
      <li
      
>
      <a href="./?/calendar/">Calendar</a>
   </li>
      <li
      
>
      <a href="./?/ministeries/">Ministeries</a>
   </li>
      <li
      
>
      <a href="./?/youth/">Youth</a>
   </li>
      <li
      
>
      <a href="./?/directions/">Directions</a>
   </li>
      <li
      
>
      <a href="./?/links/">Links</a>
   </li>

   <li>
      <a href="https://frted.wordpress.com">Fr. Ted's Blog</a>
   </li>
</ul>
